# Ignore Streamlit secrets (CRITICAL)
.streamlit/secrets.toml

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders (if you use venv)
venv/
env/
.env

# Ignore system files
.DS_Store